<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>PatientServlet</servlet-name>
        <servlet-class>servlet.PatientServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PatientServlet</servlet-name>
        <url-pattern>/patients</url-pattern>
    </servlet-mapping>
</web-app>
